* {
  box-sizing: border-box;
}

body {
  background-color: rgba(230, 236, 32, 0.557);
  font-size: 15px;
  font-family: initial;
}

.col-sm-4 {
  border-radius: 8px;
  border-bottom-right-radius: 25px;
  border-style: solid;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

h3 {
  color: brown;
  font-weight: bold;
}

.forecast {
  font-size: 0.9em;
}

span {
  font-size: 1em;
}

li:hover {
  background-color: lightslategray;
  text-decoration: underline;
}

#search-city {
  color: #104bc1;
}

#current-city {
  color: #0d4ac4;
}
